body{
    background: seashell
}

.gridButton {
    width: 100px;
    height: 100px;
}

button.gridButton:disabled {
    color: black;
    font-weight: 900;
}

.controlButton {
    width: 70px;
    height: 35px;
}
